
header#header
  .navbar.navbar-fixed-top(role='navigation')
    .navbar-inner
      .container
        .nav-collapse.collapse
          ul.nav
            li
              a(href='/')
                img(src="/img/logo.png", alt="Logo")
            li
              a(href="/about", title="公司简介") 公司简介
            li
              a(href='/articles', title="产品中心") 产品中心
            li
              a(href="/network", title="销售网络") 销售网络
            li
              a(href="/network", title="联系我们") 联系我们
          ul.nav.pull-right
            if (req.isAuthenticated())
              li.dropdown
                a.dropdown-toggle(ref="/users/"+req.user.id, title="Profile", role='button', data-toggle='dropdown', data-target='#')
                  i.icon-user.icon-white=" "+req.user.username+" "
                  i.icon-caret-down
                ul.dropdown-menu(role='menu')
                  li
                    a(href="/users/"+req.user.id, title="Profile") 订单
                  li
                    a(href="/users/"+req.user.id, title="Profile") 个人资料
                  li
                    a(href="/logout", title="logout") 登出
            else
              li
                a(href="/login", title="Login") 登陆
