div#topimage
	img#image.fade1(src="/img/banners/maschine_banner_2.jpg", style="display:none;")

div#introduction_wrapper
	div#introduction(style="bottom:40px;right:40px;")
		h1
			ul.inline
				li 诚信
				li 专注
				li 品质
		h2
			十多年糊盒机产品制造的丰富经验；<br/>
			技术力量雄厚扎实；<br/>
			生产工艺先进成熟；<br/>
			产品性能稳定，质量可靠，操作简便，具有速度快，噪音低等特点。<br/>
		a.btn.btn-large.btn-primary.pull-right(type="button", href='#products', title="产品中心")
			马上选择糊盒机

div#audio-control.fade1

audio#player(autoplay)
	source(src="audio/intro_sound.mp3", type="audio/mpeg")
	source(src="audio/intro_sound.ogg", type="audio/ogg")
	您的浏览器不支持音频播放