div#topimage
	img#image.fade1(src="/img/banners/maschine_banner_2.jpg", style="display:none;")

div#introduction_wrapper
	div#introduction(style="bottom:40px;right:40px;")
		h1
			诚信，专注，品质
		h2
			十多年糊盒机产品制造的丰富经验；<br/>
			技术力量雄厚扎实；<br/>
			生产工艺先进成熟；<br/>
			产品性能稳定，质量可靠，操作简便，具有速度快，噪音低等特点。<br/>
		a.btn.large-btn.btn-primary(type="button", href='/articles', title="产品中心")
			span 马上选择糊盒机

div#audio-control(class="sound_off", style="background-position:0% 0%;")

audio#player(autoplay loop)
	source(src="audio/intro_sound_lausive.mp3", type="audio/mpeg")
	source(src="audio/intro_sound_lausive.ogg", type="audio/ogg")
	您的浏览器不支持音频播放