extends ../layouts/default

block main
block content
  div.session_splitter
  h3 产品展示
  div
    ul.thumbnails
      li.span6
        a.thumbnail.product(href='/articles', title="ES800AC高速全自动糊盒机")
          img(src="../img/products/es800ac/size_800.jpg")
          div.caption 
            h5 ES800AC高速全自动糊盒机
            a.btn.btn-sucess Go
      li.span6
        a.thumbnail.product(href='/articles', title="ZH-900型高速自动纸盒糊盒机")
          img(src="../img/products/zh900/size_800.jpg")
        div.description ZH-900型高速自动纸盒糊盒机
          div.arrow
      li.span6
        a.thumbnail.product(href='/articles', title="ZH-900B型高速自动纸盒糊盒机")
          img(src="../img/products/zh900b/size_800.jpg")
        div.description ZH-900B型高速自动纸盒糊盒机
          div.arrow
      li.span6
        a.thumbnail.product(href='/articles', title="ZH-900C型高速自动纸盒糊盒机")
          img(src="../img/products/zh900c/size_800.jpg")
        div.description ZH-900C型高速自动纸盒糊盒机
          div.arrow
    button.btn.btn-info.pull-right 浏览全部


  div(style="background:url('../img/bg-module-top-shadow.png') no-repeat 0% 60%;padding: 100px 0px 30px 0px;")
  div
    ul.thumbnails
      li.span3
        a.thumbnail
          img(src="../img/samples/paperbox_1.jpg", style="width:300px; height:250px")
      li.span3
        a.thumbnail
          img(src="../img/samples/paperbox_2.jpg", style="width:300px; height:250px")
      li.span3
        a.thumbnail
          img(src="../img/samples/paperbox_3.jpg", style="width:300px; height:250px")
      li.span3
        a.thumbnail
          img(src="../img/samples/paperbox_4.jpg", style="width:300px; height:250px")
  div.clearfix
    button.btn.btn-large 详情洽谈

