extends ../layouts/post

block main

block content
  h3 产品展示
    div
      ul.thumbnails
        each product,i in products
          li.span3
            div.thumbnail.thumb-hover
              a(href="#", title=product.title)
                img(src=product.pic_url)
                div.mask
                  h5  #{product.title} 
                    i.icon-chevron-right
  div(style="background:url('../img/bg-module-top-shadow.png') no-repeat 0% 60%;padding: 100px 0px 30px 0px;")

