extends ../layouts/post

block main
  h2= title

block content
  .row
    .span9
      p 瑞安市鸿瑞包装机械公司是温州地区乃至国内最早生产纸盒糊盒机的企业。
      p 公司拥有:
      ul
        li 十多年纸盒糊盒机产品制造的丰富经验；
        li 技术力量雄厚扎实；
        li 生产工艺先进成熟；
        li 产品性能稳定，质量可靠，操作简便，具有速度快，噪音低，产品平服等特点。
      p 凭借着优良的售后服务体系，产品畅销全国各地，深受市场的青睐和用户的好评。
      p 鸿瑞公司一贯坚持“
        strong 以质量求生存，以科技求发展
        ”的经营宗旨，不断开拓创新诚信进取。
      p 公司将始终坚持以高质量的产品和最优良的服务，满足市场需求,
      p 愿与国内外客商建立良好的合作关系，携手共创二十一世纪辉煌！
    .span3