extends ../layouts/post

block main
  h2= title

block content
  .row
    .span9
      h5 联系人：黄先生 
      h5 电话(Tel.)：0577-65665666 
      h5 传真(Fax.)：0577-65671665 
      h5 手机(Phone)：138-0680-9666 
      h5 Email：hongrwei@126.com 
      h5 联系地址(Addr.)：浙江省瑞安市愚溪工业区锦源北路35号 
    .span3
      



