extends ../layouts/post

block main
  h1= title

block content
  .row
    .span9
      p 联系人：黄先生 
      p 电话(Tel.)：0577-65665666 
      p 传真(Fax.)：0577-65671665 
      p 手机(Phone)：138-0680-9666 
      p Email：hongrwei@126.com 
      p 联系地址(Addr.)：浙江省瑞安市愚溪工业区锦源北路35号 
    .span3
      



