extends layouts/post

block main
  h1= title

block content
  .row
  div
    ul.thumbnails
      li.span6
        div.thumbnail.thumb-hover
          a.product-video(href=video)
            img(src="../../img/video-poster.jpg")
            div.mask
              h5 高速自动糊盒机视频

